<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="LocalAnsiProcessor" value="..\w6t\AnsiProcessor\bin\Debug" />
    <add key="LocalConPTY" value="..\w6t\ConPTY\bin\Debug" />
    <add key="LocalTerminal" value="..\w6t\Terminal\bin\Debug" />
  </packageSources>
</configuration>
